PORT=3000
JWT_SECRET=isi_secret_yang_kuat
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=isi_password_db
DB_NAME=tpm_projek
TOKOCRYPTO_BASE_URL=https://www.tokocrypto.com/open/v1
TOKOCRYPTO_PRICE_MODE=ask
