PORT=3000
JWT_SECRET=isi_secret_yang_kuat
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=isi_password_db
DB_NAME=tpm_projek
BINANCE_BASE_URLS=https://api.binance.com/api/v3/ticker/price,https://data-api.binance.vision/api/v3/ticker/price
